@import "tailwindcss";

@theme {
  --color-primary-light: #4ade80;
  --color-primary: #22c55e;
  --color-primary-dark: #16a34a;

  --color-secondary-light: #fde047;
  --color-secondary: #eab308;
  --color-secondary-dark: #ca8a04;

  --color-background: #f1f5f9;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #94a3b8;

  --color-deep-navy: #0f172a;
  --color-sky-blue: #0ea5e9;
  --color-emerald-green: #10b981;

  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text-primary antialiased;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}